.facebook:before { content: '\e804'!important; } 
.twitter:before { content: '\e805'!important; } 
.instagram:before { content: '\e806'!important; } 
.linkedin:before { content: '\e807'!important; } 
.youtube:before { content: '\e808'!important; } 

.phone:before { content: '\e810'!important;} 
.email:before { content: '\e811'!important;} 
.location:before { content: '\e812'!important;} 