@use "abstracts" as *;
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: em(24);
}
p{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}
button:focus{
  outline: none!important;
  box-shadow: none!important;

}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body.navbar-opened {
  overflow-y: hidden;
}

.by-site-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #ccc;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus {
  box-shadow: none;
}
