@use "../abstracts" as *;
@use "../vendors/bootstrap/bootstrap" as *;

.infobox-area {
  display: flex;
  flex-wrap: wrap;

  .infobox {
    @include media-breakpoint-up(md) {
      flex: 0 0 50%;
    }
    // margin-right: rem(40);
    &:last-child {
      margin-right: 0;
    }
    display: flex;

    align-items: center;
    padding-bottom: rem(20);
    .info-content {
      padding-left: em(10);
    }
    .iicon {
      flex: 0 0 20%;
      width: 20%;
    }
    .info-title {
      font-size: rem($fs-20);
      font-family: $heading-font-family;
      color: darken($color: $secondary-color, $amount: 10);
      font-weight: 600;
    }
    .text {
      font-weight: 600;
      display: block;
    }
  }
}




.#{$id}-layer-area {
  z-index: -1;

  

  .#{$id}-layer {
    width: 1em;
    height: 1.5em;
    font-size: rem(320);
    position: fixed;
    transform-origin: 50% 50%;
    z-index: -2;

    @include pseudo() {
      width: 1em;
      height: 1.5em;
      line-height: 1.5em;
      @include font-icon() {
        font-size: 1em;
        color: $secondary-color;
        opacity: 0.55;
      }
    }

    &-top-left {
      top: 0;
      left: 0;
      margin-left: -0.25em;
    }

    &-bottom-right {
      bottom: 0;
      right: 0;
      margin-right: -0.25em;
    }
  }

  .flower-1:before {
    content: "\e80a" !important;
  }

  .leaf-1 {
    font-size: rem(180);
    transform: rotate(320deg);
    &:before {
      content: "\e80b" !important;
    }
  }
}

.by-wave-area {
  &-bottom {
    padding-bottom: em($wave-height);
  }
  .by-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
    transform: rotate(180deg);

    @include pseudo(after) {
      background-image: url("/docs/images/wave.svg");
      position: relative;
      display: block;
      width: calc(139% + 1.3px);
      height: em($wave-height);
      transform: translateX(-25%);
    }
  }
}

.image-card-area{
  .image-card-group{
    background-color: $primary-light-color;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 2em;
    .card{
      width: 100%;
      height: 100%;
      border: 0;
      box-shadow: none;
      border-radius: 0;
      background: none;
      &-body{
        flex: none;
        margin: auto;
        padding: em(16) em(30);
      }
      &-title{
        font-size: em(30);
        font-weight: 500;
        margin-bottom: rem(20);
        color: $primary-color;
      }
      &-link{
        padding-top: rem(15);
        display: block;
        color: darken($secondary-color,20);
        font-weight: 600;
        font-size: em(18);
        &:hover,
        &:focus{
          color: darken($secondary-color,25);
        }
      }
    }

  }
}