@use "../abstracts" as *;
@use "../vendors/bootstrap/bootstrap" as *;

.program-details-area {
  &.by-area {
    overflow: visible;
  }
  .program-area {
    border-radius: em(30);
    padding: rem(25);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 10px;
    margin-bottom: rem(20);
    .title-area {
      font-size: rem(28);
      margin-bottom: rem(4);
    }

    .slider-area {
      position: relative;
      z-index: 1;
      display: flex;
      padding-top: 50%;
      .swiper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        margin: 0;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        border-radius: rem(15);
        overflow: hidden;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
      }

      .swiper-slide {
        background-size: cover;
        background-position: center;
      }

      .mySwiper2 {
        width: 85%;
        height: 100%;
        left: 0;
      }

      .mySwiper {
        width: 15%;
        height: 100%;
        box-sizing: border-box;
        padding-left: rem(10);
        margin-left: auto;
        margin-right: 0;
        right: 0;
      }

      .mySwiper .swiper-slide {
        width: 100%;
        height: 100%;
        opacity: 0.4;
        cursor: pointer;
      }

      .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .swiper-button-next:after,
      .swiper-button-prev:after {
        font-size: 2rem;
      }
    }
  }

  .accordion-button {
    background-color: mix($secondary-color, #fff, 12);
  }
  .accordion-button:not(.collapsed) {
    background-color: #e6f3f1;
  }
}

.program-details {
  .leaf-list .list-item:before {
    color: darken($secondary-color, $amount: 15);
  }
  .card-wrap {
    .card-row {
      padding-top: rem(20);
      margin-bottom: rem(40);
      &:last-child {
        margin-bottom: 0;
      }
      @include media-breakpoint-up(md) {
        &:nth-child(even) .card .row {
          flex-direction: row-reverse;
        }
      }
      &:nth-child(even) .card .figure {
        left: auto;
        right: -15%;
      }
      &:nth-child(even) .card .figure:before {
        left: auto;
        right: 3%;
      }
    }
    .card {
      background-color: darken($secondary-color, $amount: 4);
      color: #fff;
      overflow: hidden;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23ffffff' fill-opacity='0.08'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

     

      .figure {
        border-radius: 50%;
        transform: scale(1.15);
        left: -15%;
        padding-top: 85%;
        background-color: #000;

        @include pseudo() {
          width: 100%;
          height: 100%;
          top: 4%;
          left: 3%;
          transform: scale(1.15);
          background-color: #fff;
          opacity: 0.45;
          z-index: -1;
          border-radius: inherit;
        }

        .image {
          position: absolute;
          top: 0;
          border-radius: inherit;
          opacity: 0.7;
        }
      }

      &-body {
        @include media-breakpoint-up(md) {
          padding: rem(30);
        }
      }

      &-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 0 rem(30);

        @include media-breakpoint-down(md) {
          padding: rem(50) 0 rem(30) 0;
        }

        .title {
          color: #fff;
          @include media-breakpoint-down(md) {
            font-size: 1.5rem;
            padding-bottom: rem(15);
          }
        }

        .price {
          align-self: flex-end;
          background-color: #fff;
          color: $secondary-color;
          font-size: rem(20);
          padding: rem(5) rem(35);
          margin-left: auto;
        }
      }
    }
  }
}
