@use "../abstracts" as *;
@use "../vendors/bootstrap/bootstrap" as *;

.program-details-area {
  &.by-area {
    overflow: visible;
  }
  .program-area {
    border-radius: em(30);
    padding: rem(25);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 10px;
    margin-bottom: rem(20);
    .title-area{
      font-size: rem(28);
      margin-bottom: rem(4);
    }

    .slider-area {
      position: relative;
      z-index: 1;
      display: flex;
      padding-top: 50%;
      .swiper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        margin: 0;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        border-radius: rem(15);
        overflow: hidden;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
      }

      .swiper-slide {
        background-size: cover;
        background-position: center;
      }

      .mySwiper2 {
        width: 85%;
        height: 100%;
        left: 0;
      }

      .mySwiper {
        width: 15%;
        height: 100%;
        box-sizing: border-box;
        padding-left: rem(10);
        margin-left: auto;
        margin-right: 0;
        right: 0;
      }

      .mySwiper .swiper-slide {
        width: 100%;
        height: 100%;
        opacity: 0.4;
        cursor: pointer;
      }

      .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .swiper-button-next:after,
      .swiper-button-prev:after {
        font-size: 2rem;
      }
    }
  }


  .accordion-button{
    background-color: mix($secondary-color, #fff, 12)
  }
.accordion-button:not(.collapsed) {
    background-color: #e6f3f1
}

}
