@use "../vendors/bootstrap/bootstrap" as *;
@use "../abstracts" as *;

.#{$id}-footer {
  background-color: #008970;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23ffffff' fill-opacity='0.05'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #fff;
  padding: rem(60) 0 0 0;
  margin-top: auto;

  .#{$id}-widget {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
    &__title {
      color: #fff;
      position: relative;
      margin-right: auto;
      z-index: 1;
      display: flex;
      flex-direction: column;
      padding-bottom: rem(4);
      margin-bottom: 1rem;
      &:before {
        content: "";
        position: absolute;
        width: 4rem;
        height: 2px;
        bottom: 0;
        display: block;
        background-color: #fff;
      }
    }

    &__content {
      padding-top: 1rem;
      .list {
        &-item {
          margin-bottom: rem(10);
          padding-bottom: rem(10);
        }
      }
    }
  }

  .link {
    color: inherit;
  }

  .contact {
    font-size: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .list-item {
      @include icon($size: 26, $space: 6);
      @include media-breakpoint-up(lg) {
        padding-left: 0;
        @include icon($position: "right", $size: 26, $space: 6) {
          left: auto;
        }
      }
    }
  }

  &__center {
    @include media-breakpoint-down(lg) {
      order: -1;
    }
  }

  &__end {
    .#{$id}-widget {
      @include media-breakpoint-up(lg) {
        &__title {
          margin-left: auto;
          margin-right: 0;
          align-items: flex-end;
        }
        &__content {
          width: 100%;
          height: 100%;
          .list {
            text-align: right;
            align-items: flex-end;
            .location {
              padding-right: em(52);
              &:before {
                font-size: em(30);
                line-height: em(20);
              }
            }
          }
        }
      }
    }
  }

  .logo-area {
    .logo-1 {
      padding: 0 rem(8);
      opacity: 0.9;
      max-width: rem(120);
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .logo-2 {
      max-width: rem(160);
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  .brand-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(15) 0 rem(20) 0;

    .social-list {
      font-size: rem(40);
      flex-direction: row;
      .list-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        border-radius: 50%;
        width: 1em;
        height: 1em;
        margin-right: rem(20);
        @include icon($text: 0, $size: 28, $height: 40) {
          font-size: 0.55em;
        }
        &:last-child {
          margin: 0;
        }
        background-color: $secondary-color;
        .link {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__bottombar {
    border-top: 1px solid rgba(255, 255, 255, 0.35);
    padding: rem(12) 0;
    .copyrights-area {
      @include media-breakpoint-down(lg) {
        text-align: center;
        margin-bottom: rem(28);
      }
    }

    .links-area {
      display: flex;
      justify-content: flex-end;
      .links {
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        font-size: rem(12);
        @include media-breakpoint-up(lg) {
          margin-left: auto;
          margin-right: 0;
        }
        text-transform: uppercase;
        .list-item {
          line-height: rem(28);
          margin: 0 rem(28) 0 0;
          @include icon($code: "\e813", $size: 8, $height: 28, $space: 8);
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
