@use "../../vendors/bootstrap/bootstrap" as *;
@use "../../abstracts" as *;
@use "sass:math";
.by-slider {
  &-main {
    background-color: $primary-light-color;
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    padding-top: 36%;
    @include media-breakpoint-down(md) {
      padding-top: 80%;
    }
  }

  .swiper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
  }

  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    @include media-breakpoint-up(md) {
      padding-left: 10%;
      font-size: 1.15vw;
    }
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-size: 3.25vw;
    .desc {
      @include pseudo() {
        width: 100em;
        height: 100em;
        background-color: #fff;
        border-radius: 50%;
        z-index: -2;
        top: 0;
        left: 0;
        opacity: 0.65;
        transform: translate(-28%, -6%);
        @include media-breakpoint-down(md) {
          font-size: 1.25vw;
        }
      }
      .title {
        font-size: em(52);
        @include media-breakpoint-down(md) {
          font-size: em(28);
        }
      }
      .subtitle {
        font-size: em(22);
        @include media-breakpoint-down(md) {
          font-size: em(18);
        }
        line-height: 1.5;
      }
    }

    .figure {
      position: absolute;
      width: 1em;
      padding-top: 1.5em;
      font-size: em(165);
      @include media-breakpoint-up(md) {
        font-size: em(300);
        right: 20%;
         margin-top: -0.75em;
      }
      right: 0;
      top: 50%;
      margin-top: -1em;
      z-index: -1;
      .image {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-width: 100%;
        display: block;
      }
    }

    .btn-container {
      font-size: 1.1em;
       padding-top: em(30);
      @include media-breakpoint-down(md) {
       
        font-size: em(14);
      }
    }
  }

  &-nav {
    @include media-breakpoint-down(md) {
      display: none;
    }
    width: em(52);
    height: em(52);
    border-radius: 50%;
    background-color: $secondary;
    position: absolute;
    top: 50%;
    margin-top: -(math.div(em(52), 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @include pseudo(after, "") {
      @include font-icon() {
        font-size: em(22);
        line-height: em(52);
        color: #fff;
      }
    }
    &-next {
      @include pseudo(after, "\e802");
      right: em(30);
    }
    &-prev {
      @include pseudo(after, "\e802") {
        transform: rotate(180deg);
      }
      left: em(30);
    }
  }
}
